<div>
  <nav class="navbar navbar-light bg-light">
    <%= link_to "Wikinimous", articles_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <%= link_to "New Article", new_article_path, class: "text-muted" %>
    </button>
  </nav>
</div>

<div class="container mt-5">
  <%= simple_form_for(@article) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>
</div>
